body {
    background: #eeeeee;
    font-family: 'Roboto',sans-serif;
}
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: right;
}
.copyright {
    text-align: right;
    padding: 0px 25px;
    font-size: 70%;
}
h1 {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    background-color: #9f84e6;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: Arial, 'Courier New';
    text-align: center;
}
h3:after {
    content: ' \00A9';
}

.dropdown {
    display: inline-block;
    color: #000000;
    padding: 10px 40px;
}

.dvdList {
    float: left;
    padding: 45px;
    border: 2px;
    background-color: #74e7eb;
    width: 30%;
    margin-bottom: 15px;
}

.addNewButton {
    clear: both;
    /* 
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    */
    font-family: 'Roboto',sans-serif;
    color: #333333;
    font-weight:300;
    cursor: pointer;
    background-color: #9f84e6;
    border: 2px solid #666666;
    text-align: center;
    transition: all 0.2s;
    width: 30%;
    padding: 10px 45px;
    /* margin-top: 50px; */
    -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;
}
.addNewButton:hover {
    color: #000000;
    background-color: #7f84e6;
}

.dvdName::before {
    content: '\25FD  ';
}

.searchTextInput {
    /* float: right; */
    background-color: #cc99cc;
    width: 10%;
}

.dvdCover {
    float: right;
    padding: 20px 20% 0px 0px;
}