body {
    background: #eeeeee;
    font-family: 'Roboto',sans-serif;
}
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: right;
}
.copyright {
    text-align: right;
    padding: 0px 25px;
    font-size: 70%;
}
h1 {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    background-color: #9f84e6;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: Arial, 'Courier New';
    text-align: center;
}
h3:after {
    content: ' \00A9';
}

/* Classes */

.dropdown {
    display: inline-block;
    color: #000000;
    padding: 10px 30px 10px 5px;
}

.dvdList {
    float: left;
    padding: 45px;
    border: 2px;
    background-color: #c2d4dd;
    width: 30%;
    margin-bottom: 15px;
}

.addNewButton {
    clear: both;
    /* 
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    */
    font-family: 'Roboto',sans-serif;
    color: #333333;
    font-weight:300;
    cursor: pointer;
    background-color: #9f84e6;
    border: 2px solid #666666;
    text-align: center;
    transition: all 0.2s;
    width: 30%;
    padding: 10px 45px;
    /* margin-top: 50px; */
    -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;
}
.addNewButton:hover {
    color: #000000;
    background-color: #7f84e6;
}

.dvdName::before {
    content: '\25FD  ';
}

.searchTextInput {
    background-color: transparent;
    width: 170px;
    padding: 10px 0px 10px 40px;
}

.dvdCover {
    /* float: right; */
    padding: 20px 20% 0px 50px;
}
.coverFront {
    display: inline-block;
}
.coverBack {
    display: inline-block;
}

.selectLabel {
    padding: 10px 0px 10px 30px;
}

.fullWidthBreak {
    display: block;
    width: 100%;
}

.bodyDetail {
    padding: 20px 0px 0px 40px;
}
.bodyLink {
    /* padding-top: 40px; */
    margin-top: 16px;
    margin-bottom: 16px;
}

.leftPadding {
    padding-left: 230px;
}



/* IDs */
 #select_body {
     display: inline-block;
 }

 #search_body {
     display: inline-block;
     /* width: 60%; */
 }

 #searchTextInput {
     height: 15px;
     background-color: #c2d4dd;
 }

 #bodyDvdDetails {
     float: right;
     background-color: yellowgreen;
     width: 60%;
 }